<div class="container">
  <div class="d-flex">
    <h1 class="me-auto"><%= @task.title %></h1>
    <%= link_to 'Edit task', edit_path, {class: 'btn btn-light my-3'} %>
  </div>
  <div class="alert alert-light">
    <p><%= @task.details %></p>
  </div>
  <%= @task.completed ? '☑ This task is completed' : '☐ This task is not completed yet' %><br>
  <%= link_to 'Back to list', tasks_path %>
</div>
